@import "../partials/colors";

.review{
  background-color: $darkGreen;
  border: 2px solid white;
  padding: 20px 20px 20px 20px;
  cursor: pointer;
  }
  
.review:hover {
    background-color: $lightGreen;
  }

 .submit{
    background-color: $darkPink;
    border: 2px solid white;
    margin-left: 2%;
    padding: 15px 30px;
    text-align: center;
    cursor: pointer;
  }