@import "./mixins";
@import "./footer";


$bgcolor: rgb(255, 251, 236);
$navy: rgb(4, 14, 71);



* {
    padding: 0;
    margin: 0;
}

.body{
    scroll-behavior: auto;
    overflow-y: scroll;
}



a:link, a:active{
    @include open-sans-mono(200); 
    color: $navy;
    text-decoration: none; 
}

a:visited {
    color: dark $navy;
    background-color: transparent;
    text-decoration: none;
  }
  

.nav {
    border-bottom: 1px solid black;
    // margin: 60px;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &__link {
        &--margin-left {
            margin-left: 10px;
        }
    }

}


.intro {
    display: flex;
    // align-items: flex-start;

    &__wrapper {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        gap: 16px;
        color: white;
        h1, p{
        @include open-sans-mono(100);
        }
    }

    &__container {
        width: 50%;
        display: flex;


        &--bg-blue {
            background-color: rgb(4, 14, 71);
        }

        &--bg-img {
            background-image: url("kolam.png");
            height: 400px;
            background-size: cover;
            background-position: center;
        }
    }
}

.gallery {
    text-align: center;

    &__heading {
        padding: 20px;
        font-weight: 200;
    }
    &__wrapper {
        border: 6px solid red;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        padding: 60px;
    }
}

.card {
    border: $navy;
    padding: 16px;
}

// project details section styling starts here

.project{
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background-color:white;
    h2{
        @include open-sans-mono(200);
        margin-top: 50px;
        color: $navy;
    }
    &__wrapper {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        color: white;
    } 
    &__box{
        margin-top: 50px;
        height: 300px;
        width: 200px;
        border: 1px solid #9e8f72;
        background-color: $bgcolor;
        border-radius: 20px;

    }

}


// skill details section styling starts here
.skillcontainer{
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color:$navy;    
    h2{
            @include open-sans-mono(200);
            margin-top: 20px;
            color: white;
    }
    &__wrapper{    
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    &__text{
        margin-left: 150px;
        margin-right: 150px;
        margin-top: 80px;
        @include open-sans-mono(100);
        font-size: 2.5ex;
        color: white;
    }
}




// form section styling starts here

.formcontainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 400px;
    width: 100%;
    background-color: $bgcolor;
    h2{
        @include open-sans-mono(200);
        margin-top: 40px;
        margin-bottom: 25px;
        color: $navy;

    }        
}




.formcontainer__wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
}   


label {
    @include open-sans-mono(300);
    font-size: 1rem;
    display:block;
    color: $navy;
}

// Text for submit button

.submit{
    background-color: $bgcolor;
    border: 1px solid $navy;
    border-color: 40%;
    @include open-sans-mono(300);
    font-size: 1rem;
    color:$navy;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
  }


.formbox{
    padding-left: 20px;
    padding-top: 20px;
}



textarea, input[type=text], input[type=email]{
    resize:none;
    @include open-sans-mono(200);
}