footer {
  background-color: rgb(4, 14, 71);
  height: 50px;
  width: 100px;
}

/*Flex container*/
.footer-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 10px;
}
.footer-container p {
  color: white;
  justify-content: space-between;
  padding-right: 80%;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/*Flex item */
.footer-box {
  display: flex;
  justify-content: space-between;
  padding-right: 25px;
}

* {
  padding: 0;
  margin: 0;
}

.body {
  height: 100vh;
  justify-content: center;
  background-color: white;
  overflow-y: scroll;
  overflow-x: scroll;
}

a:link,
a:active {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 200;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: rgb(4, 14, 71);
  text-decoration: none;
}

a:visited {
  color: dark rgb(4, 14, 71);
  background-color: white;
  text-decoration: none;
}

.nav {
  border-bottom: 1px solid black;
  padding: 20px 10%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /*set sticky nav style*/
  position: sticky;
  top: 0;
  z-index: 1000;
  /*set sticky nav style*/
}
.nav__link--margin-left {
  margin-left: 10px;
}

.stickycontent {
  flex-grow: 1;
  overflow-y: visible;
  text-align: center;
  height: calc(100% - 60px);
}

.intro {
  display: flex;
}
.intro__wrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 16px;
  color: white;
}
.intro__wrapper h1,
.intro__wrapper p {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.intro__container {
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.intro__container--bg-blue {
  background-color: rgb(4, 14, 71);
}
.intro__container--bg-img {
  background-image: url("../kolam.jpeg");
  height: 400px;
  background-size: cover;
  background-position: center;
}

.project {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  background-color: white;
}
.project h2 {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  margin-top: 50px;
  color: rgb(4, 14, 71);
}
.project .project__wrapper {
  border: 1px rgb(4, 14, 71);
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  gap: 16px;
  color: white;
  padding-bottom: 50px;
}
.project__box {
  margin-top: 50px;
  height: 300px;
  width: 200px;
  border: 1px solid #9e8f72;
  background-color: rgb(255, 251, 236);
  border-radius: 20px;
}
.project__box img {
  height: 100px;
  width: 100px;
  align-items: end;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  vertical-align: bottom;
}
.project__box p {
  color: black;
  font-family: "Open Sans", sans-serif;
}
.project .project {
  display: flex;
}

.skillcontainer {
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  background-color: rgb(4, 14, 71);
}
.skillcontainer h2 {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  margin-top: 20px;
  color: white;
}
.skillcontainer__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.skillcontainer__text {
  display: flex;
  flex-wrap: wrap;
  margin-left: 150px;
  margin-right: 150px;
  align-items: center;
  margin-top: 40px;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 2.5ex;
  color: white;
}

.formcontainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 400px;
  width: 100%;
  background-color: rgb(255, 251, 236);
}
.formcontainer h2 {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  margin-top: 40px;
  margin-bottom: 25px;
  color: rgb(4, 14, 71);
}

.formcontainer__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%;
}

label {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 1rem;
  display: block;
  color: rgb(4, 14, 71);
}

.submit {
  background-color: rgb(255, 251, 236);
  border: 1px solid rgb(4, 14, 71);
  border-color: 40%;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 1rem;
  color: rgb(4, 14, 71);
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
}

.formbox {
  padding-left: 20px;
  padding-top: 20px;
}

textarea,
input[type=text],
input[type=email] {
  resize: none;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

footer {
  background-color: rgb(4, 14, 71);
  height: 50px;
  width: 100%;
}

/*Flex container*/
.footer-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 10px;
}

.footer-container p {
  color: white;
  justify-content: space-between;
  padding-right: 80%;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/*Flex item */
.footer-box {
  display: flex;
  justify-content: space-between;
  padding-right: 25px;
}

/*# sourceMappingURL=astyles.css.map */
